
<div id='container'>

    <div id='header'>
        <h1 id='title'>Note Taker</h1>
        <div id='actions'>
            <button>
                SAVE
            </button>
            <button>
                EDIT
            </button>
        </div>
    </div>
    <div id='content-body'>
        <ul id='left-panel'>
            <li>Note <button>Delete</button></li>
        </ul>       
        <div id='right-panel'>
            <div id='edit'>
                <input placeholder="Note Title"></input>
                <textarea placeholder="Note Text"></textarea>
            </div>
            <div id='view'>
                <h1>Title</h1>
                <p>Body</p>
            </div>
        
        </div>
    </div>
</div>